@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: ActayWide;
  font-display: swap;
  src: url("../fonts/ActayWide.woff2") format("woff2"), url("../fonts/ActayWide.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.form__checkbox--label::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-done:before {
  content: "\e901";
}

._icon-fire:before {
  content: "\e902";
}

._icon-oclock:before {
  content: "\e903";
}

._icon-play:before {
  content: "\e904";
}

._icon-telegram:before {
  content: "\e905";
}

:root {
  --primary: #46344E;
  --secondary: #5A5560;
  --accent: #FAED26;
  --wh: #fff;
  --bg-secondary: #9D8D8F;
  --error: #fc8787;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--wh);
  line-height: 1;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
  font-family: "Montserrat Alternates";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
  font-family: "ActayWide";
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: var(--accent);
}

h1 {
  font-size: 58px;
  line-height: 1.0689655172;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  line-height: 1.1111111111;
}

h3 {
  font-size: 30px;
  line-height: 1.0666666667;
}

h4 {
  font-size: 24px;
  line-height: 1.1666666667;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.1111111111;
}

p span {
  color: var(--accent);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.25rem;
  margin: 0 auto;
  padding: 0 3.75rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  text-align: center;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--accent);
  color: var(--primary);
  font-weight: 700;
  line-height: 1.5;
  outline: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) -1.43%, rgba(255, 255, 255, 0.5) 34.6%, rgba(255, 255, 255, 0) 66.95%), var(--accent);
  background-size: 300%;
  background-position: right;
}

.btn:hover {
  background-position: left;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
textarea {
  display: block;
  width: 100%;
  height: 42px;
  border-radius: 15px;
  font-family: "ActayWide";
  font-size: 14px;
  line-height: 1.1428571429;
  border: 1.2px solid #FFF;
  color: var(--wh);
  background: rgba(255, 255, 255, 0.06);
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input._form-error,
textarea._form-error {
  border: 1px solid var(--error);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: var(--wh);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--wh);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--wh);
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: var(--wh);
}

input::placeholder,
textarea::placeholder {
  color: var(--wh);
}

input:hover,
input:focus,
input._form-focus,
textarea:hover,
textarea:focus,
textarea._form-focus {
  border: 1.2px solid var(--accent);
}

textarea {
  height: 220px !important;
  resize: none;
}

._form-error {
  position: relative;
}

.form__error {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  text-align: left;
  font-size: 11px;
  line-height: 1.2727272727;
  color: rgba(242, 88, 48, 0.25);
  color: var(--error);
  padding: 2px 0px 0px 4px;
}

input[type=number] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  line-height: 1;
  font-size: 20px;
  padding: 10px 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.number_input--hidden {
  width: 200px !important;
  display: none !important;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header._header-scroll {
  -webkit-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
  top: -200px;
}

.header._header-show {
  top: 0;
  -webkit-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  -webkit-box-shadow: 0 -2px 15px #fff;
          box-shadow: 0 -2px 15px #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0px;
  height: 87px;
}

.header__logo {
  position: relative;
  z-index: 6;
  display: block;
  font-family: "ActayWide";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.644px;
  text-transform: uppercase;
  padding: 0px 48px 0px 0px;
}

.header__logo span {
  color: var(--accent);
  margin-left: 5px;
}

.header__wrap {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__overlay {
  display: none;
}

.header__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contact {
  background-color: var(--primary);
  color: var(--wh);
}

.header__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  margin-left: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin: 0px 34px 0px 0px;
}

.menu__link span {
  display: none;
}

.menu__link:hover {
  color: var(--bg-primary);
}

.menu__row {
  display: none;
}

.menu__button {
  display: none;
}

.icon-menu {
  display: none;
}

.main {
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
}

.main__container {
  position: relative;
}

.no-webp .main__container::before{
  background-image: url(../img/bg/bg-01.png); }

.main__container::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -40%;
  width: 1217px;
  height: 975px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 3;
}

.no-webp .main__container::after{
  background-image: url(../img/bg/bg-02.png); }

.main__container::after {
  content: "";
  position: absolute;
  top: 20%;
  right: -15%;
  width: 846px;
  height: 584px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.5;
  z-index: 3;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 185px 0px 70px 0px;
  min-height: 720px;
  position: relative;
  z-index: 4;
}

.main__content {
  width: 60%;
}

.main__descr {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--primary);
}

.main__title {
  padding: 32px 0px 42px 0px;
}

.main__title span {
  display: block;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 470px;
  margin-left: auto;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 1.2;
}

.main__text p:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__wrap {
  width: 60%;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__item:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.main__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  border-radius: 8px;
  background-color: var(--wh);
  margin-right: 16px;
}

.main__icon::before {
  font-size: 20px;
  color: var(--primary);
}

.pay-main {
  width: 32%;
  position: relative;
  padding: 24px 36px;
}

.pay-main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 18px;
  overflow: hidden;
  z-index: -1;
}

.pay-main__link {
  margin-top: 32px;
  width: 100%;
}

.about {
  margin-top: -1px;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  padding: 70px 0px;
}

.about__container {
  position: relative;
  z-index: 2;
}

.about__container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 487px;
  border-radius: 1136px;
  pointer-events: none;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  filter: blur(90px);
  -webkit-filter: blur(90px);
  z-index: -1;
}

.about__container::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 487px;
  border-radius: 1136px;
  pointer-events: none;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  filter: blur(90px);
  -webkit-filter: blur(90px);
  z-index: -1;
}

.about__title--top {
  position: relative;
  z-index: 3;
}

.about__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  gap: 22px;
}

.no-webp .about__wrapper::after{
  background-image: url(../img/bg/bg-01.png); }

.about__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15%;
  width: 1217px;
  height: 975px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(50% - 11px);
  border-radius: 18px;
  border: 1.259px solid #FFF;
  background: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 24px 36px;
}

.about__title {
  padding-bottom: 12px;
}

.about__text {
  line-height: 1.4;
}

.about__count {
  color: rgba(255, 255, 255, 0.03);
  font-family: "ActayWide";
  font-size: 100px;
  line-height: 1.2;
  font-weight: 700;
}

.pay {
  margin-top: -1px;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  padding: 70px 0px;
}

.pay__container {
  position: relative;
  z-index: 4;
}

.no-webp .pay__container::before{
  background-image: url(../img/bg/bg-01.png); }

.pay__container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 1017px;
  height: 775px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 0;
}

.no-webp .pay__container::after{
  background-image: url(../img/bg/bg-02.png); }

.pay__container::after {
  content: "";
  position: absolute;
  top: 20%;
  right: -15%;
  width: 846px;
  height: 584px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.5;
  z-index: 3;
}

.pay__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 4;
}

.pay__content {
  width: 50%;
}

.pay__title {
  padding-bottom: 50px;
}

.pay__text {
  width: 70%;
  font-size: 20px;
  line-height: 1.2;
}

.pay__text p:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.pay__form {
  width: 40%;
}

.form {
  position: relative;
  z-index: 4;
  padding: 24px 36px;
}

.form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 1px solid #FFF;
  opacity: 0.3;
  background: linear-gradient(123deg, rgba(19, 91, 96, 0.8) 4.49%, rgba(30, 85, 109, 0.8) 120.49%), #FFF;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  z-index: -1;
}

.form__title {
  padding-bottom: 24px;
}

.form__item:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0px;
}

.form__checkbox--input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.form__checkbox--input:hover + .form__checkbox--label {
  -webkit-box-shadow: 0px 4px 10px rgba(53, 56, 69, 0.21);
          box-shadow: 0px 4px 10px rgba(53, 56, 69, 0.21);
}

.form__checkbox--input:checked + .form__checkbox--label:before {
  opacity: 1;
  visibility: visible;
}

.form__checkbox--label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-right: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.06);
  border: 1.2px solid #FFF;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form__checkbox--label::before {
  content: "\e901";
  opacity: 0;
  visibility: hidden;
  font-size: 12px;
}

._form-error .form__checkbox--label {
  border: 1px solid var(--error);
}

.form__checkbox--label:hover,
.form__checkbox--label:focus,
._form-focus .form__checkbox--label {
  border: 1.2px solid var(--accent);
}

.form__checkbox--text {
  font-size: 14px;
  line-height: 1.1428571429;
}

.form__price--wrap {
  padding: 0px 0px 16px 0px;
}

.form__price--promocode {
  display: none;
  padding-top: 24px;
}

.form__button {
  width: 100%;
}

.form__button--apply {
  background-color: var(--primary);
  color: var(--wh);
}

.form__link {
  display: block;
  margin-top: 24px;
  text-decoration: underline;
}

.form__link:hover {
  color: var(--accent);
}

.form__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.about-me {
  margin-top: -1px;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  padding: 70px 0px;
}

.about-me__container {
  position: relative;
}

.no-webp .about-me__container::after{
  background-image: url(../img/bg/bg-01.png); }

.about-me__container::after {
  content: "";
  position: absolute;
  top: -220%;
  right: -15%;
  width: 1217px;
  height: 975px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  pointer-events: none;
  z-index: 3;
}

.about-me__container::before {
  content: "";
  position: absolute;
  bottom: -130%;
  left: 0;
  width: 100%;
  height: 487px;
  border-radius: 1136px;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  filter: blur(90px);
  -webkit-filter: blur(90px);
  pointer-events: none;
  z-index: 2;
}

.about-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 4;
}

.about-me__pay {
  width: auto;
}

.about-me__content {
  width: 60%;
}

.about-me__title {
  padding-bottom: 50px;
}

.about-me__text {
  line-height: 1.4;
}

.about-me__text p:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.success {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100%;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
}

.success__container {
  position: relative;
}

.no-webp .success__container::before{
  background-image: url(../img/bg/bg-01.png); }

.success__container::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -90%;
  width: 1217px;
  height: 975px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 3;
}

.success__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 185px 0px 70px 0px;
  position: relative;
  z-index: 4;
}

.success__title {
  padding-bottom: 50px;
}

.success__text {
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
}

.success__text p:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.success__telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
  border-radius: 15px;
  border-radius: 50%;
  border: 2px solid var(--wh);
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) -1.43%, rgba(255, 255, 255, 0.5) 34.6%, rgba(255, 255, 255, 0) 66.95%), #00B9BB;
  background-size: 200%;
  background-position: right;
}

.success__telegram::before {
  font-size: 26px;
  margin-right: 4px;
}

.success__telegram:hover {
  background-position: left;
}

#success-page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100%;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
}

.page-form__container {
  position: relative;
}

.no-webp .page-form__container::before{
  background-image: url(../img/bg/bg-01.png); }

.page-form__container::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -90%;
  width: 1217px;
  height: 975px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 3;
}

.page-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 185px 0px 70px 0px;
  position: relative;
  z-index: 4;
}

.page-form__info {
  width: 480px;
}

.page-form__info .form__wrap {
  padding-bottom: 24px;
}

.footer {
  margin-top: -1px;
  background: linear-gradient(113deg, #161A24 18.72%, #11141C 85%);
  padding: 70px 0px;
}

.footer__container {
  position: relative;
  z-index: 3;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrap {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  display: block;
  font-size: 14px;
  line-height: 1.3;
}

.footer__link:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

@media (min-width: 29.99875em) {
  .about__title--top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }

  .about__title--top::before {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: var(--accent);
    margin-right: 10px;
  }

  .pay__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }

  .pay__title::before {
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: var(--accent);
    margin-right: 10px;
  }
}

@media (min-width: 61.99875em) {
  .about__content {
    margin-right: 30px;
  }
}

@media (max-width: 87.25em) {
  h1 {
    font-size: 48px;
    line-height: 1.125;
  }

  [class*=__container] {
    padding: 0 1.875rem;
  }

  .header__wrap {
    width: 70%;
  }

  .main__container::before {
    width: 908px;
    height: 787px;
  }

  .main__wrap {
    width: 75%;
  }

  .about__count {
    font-size: 80px;
    line-height: 1.125;
  }

  .pay__container::before {
    width: 908px;
    height: 787px;
    top: 0;
  }

  .pay__container::after {
    top: auto;
    bottom: -10%;
  }

  .pay__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pay__content {
    width: 100%;
    padding-bottom: 32px;
  }

  .pay__text {
    margin-left: 0;
    text-align: left;
    width: 100%;
  }

  .form {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
  }

  .about-me__container::after {
    top: 0;
    width: 908px;
    height: 787px;
  }

  .about-me__container::before {
    bottom: -10%;
  }

  .success__container::before {
    width: 908px;
    height: 787px;
  }

  .page-form__container::before {
    width: 908px;
    height: 787px;
  }
}

@media (max-width: 61.99875em) {
  .header__wrapper {
    padding: 15px 0px;
    height: 60px;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0px 28px 0px 0px;
  }

  .header__wrap {
    width: auto;
  }

  .header__overlay {
    display: block;
    position: fixed;
    background: rgba(51, 51, 51, 0.5);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 14;
    -webkit-transition: all 0.4s cubic-bezier(0.22, 0.61, 0.24, 1) 0s;
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.24, 1) 0s;
  }

  .menu-open .header__overlay {
    left: 0;
  }

  .header__menu {
    background-color: var(--primary);
    padding: 0px 20px 42px 60px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 450px;
    z-index: 17;
    -webkit-box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
            box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53);
    transition: left 0.4s cubic-bezier(0.6, 0.1, 0.68, 0.53);
  }

  .menu-open .header__menu {
    left: 0;
  }

  .header__menu {
    padding: 0px 15px 42px 15px;
  }

  .header__icon span::before,
  .header__icon span::after {
    width: 73% !important;
  }

  .header__icon span::before {
    top: calc(50% - 0.0625rem) !important;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__icon span::after {
    bottom: calc(50% - 0.0625rem) !important;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 42px;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 28px 0px;
  }

  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.96px;
  }

  .menu__link span {
    display: block;
    font-size: 12px;
    line-height: 128%;
    letter-spacing: -0.24px;
    color: var(--accent);
    margin-right: 8px;
  }

  .menu__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px 15px 0px;
    height: 60px;
  }

  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    margin-left: 40px;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 3.0625rem;
    height: 1.875rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49px;
            flex: 0 0 49px;
    z-index: 5;
  }

  .icon-menu span {
    width: 3.0625rem;
    height: 0.5rem;
    display: block;
    position: relative;
  }

  .icon-menu span::before,
  .icon-menu span::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--wh);
  }

  .icon-menu span::before {
    top: 0;
  }

  .icon-menu span::after {
    bottom: 0;
  }

  .main__container::after {
    top: auto;
    bottom: -15%;
    right: -15%;
  }

  .main__wrapper {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 140px 0px 45px 0px;
  }

  .main__content {
    width: 100%;
  }

  .main__descr {
    font-size: 12px;
    line-height: 1.1666666667;
    border-radius: 4px;
  }

  .main__title {
    padding: 24px 0px 32px 0px;
  }

  .pay-main {
    width: 100%;
    margin-top: 32px;
  }

  .about {
    padding: 45px 0px;
  }

  .about__container::before {
    display: none;
  }

  .about__container::after {
    display: none;
  }

  .about__wrapper {
    padding-top: 30px;
  }

  .about__item {
    width: 100%;
  }

  .about__count {
    font-size: 60px;
    line-height: 1.1666666667;
  }

  .pay {
    padding: 45px 0px;
  }

  .pay__title {
    padding-bottom: 30px;
  }

  .about-me {
    padding: 45px 0px;
  }

  .about-me__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-me__content {
    width: 100%;
    padding-top: 32px;
  }

  .about-me__title {
    padding-bottom: 30px;
  }

  .success__wrapper {
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 140px 0px 45px 0px;
  }

  .success__title {
    padding-bottom: 30px;
  }

  .footer {
    padding: 45px 0px;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
  }

  .footer__logo {
    width: 100%;
  }

  .footer__wrap {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__info {
    width: 50%;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  h1 {
    font-size: 34px;
    line-height: 1.1176470588;
  }

  h2 {
    font-size: 24px;
    line-height: 1.0833333333;
  }

  h3 {
    font-size: 18px;
    line-height: 1.2222222222;
  }

  h4 {
    font-size: 16px;
    line-height: 1.125;
  }

  h5 {
    font-size: 16px;
    line-height: 1.125;
  }

  h6 {
    font-size: 14px;
    line-height: 1.1428571429;
  }

  [class*=__container] {
    padding: 0 0.9375rem;
  }

  .btn {
    font-size: 14px;
    line-height: 1.1428571429;
  }

  .header__contact {
    width: 100%;
    margin-top: 32px;
    background-color: var(--accent);
    color: var(--primary);
  }

  .main__container::before {
    width: 608px;
    height: 487px;
  }

  .main__container::after {
    width: 546px;
    height: 384px;
  }

  .main__wrapper {
    padding: 120px 0px 30px 0px;
  }

  .main__title {
    padding: 12px 0px 24px 0px;
  }

  .main__text {
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
    padding-bottom: 12px;
  }

  .main__wrap {
    width: 100%;
  }

  .main__item:not(:last-child) {
    margin: 0px 0px 8px 0px;
  }

  .main__icon {
    width: 24px;
    height: 24px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    border-radius: 4px;
  }

  .main__icon::before {
    font-size: 14px;
  }

  .main__info {
    font-size: 12px;
    line-height: 1.1666666667;
  }

  .about {
    padding: 30px 0px;
  }

  .about__wrapper {
    padding-top: 24px;
  }

  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 24px;
  }

  .about__title {
    padding-bottom: 5px;
  }

  .about__text {
    font-size: 14px;
    line-height: 1.1428571429;
  }

  .about__count {
    padding-bottom: 8px;
    font-size: 40px;
    line-height: 1.25;
    width: 100%;
    text-align: right;
  }

  .pay {
    padding: 30px 0px;
  }

  .pay__container::before {
    width: 608px;
    height: 487px;
  }

  .pay__container::after {
    width: 546px;
    height: 384px;
  }

  .pay__title {
    padding-bottom: 24px;
  }

  .pay__text {
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
  }

  .form {
    padding: 24px 20px;
  }

  .about-me {
    padding: 30px 0px;
  }

  .about-me__container::after {
    width: 608px;
    height: 487px;
  }

  .about-me__container::before {
    display: none;
  }

  .about-me__pay {
    width: 100%;
  }

  .about-me__title {
    padding-bottom: 24px;
  }

  .about-me__text {
    font-size: 14px;
    line-height: 1.1428571429;
  }

  .success__container::before {
    width: 608px;
    height: 487px;
  }

  .success__wrapper {
    padding: 120px 0px 30px 0px;
  }

  .success__title {
    padding-bottom: 24px;
  }

  .success__text {
    width: 100%;
    font-size: 16px;
    line-height: 1.125;
    padding-bottom: 12px;
  }

  .success__telegram {
    width: 40px;
    height: 40px;
  }

  .success__telegram::before {
    font-size: 18px;
  }

  .page-form__container::before {
    width: 608px;
    height: 487px;
  }

  .footer {
    padding: 30px 0px;
  }

  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__info {
    width: 100%;
    padding-top: 24px;
  }
}

@media (max-width: 29.99875em) {
  .header__close {
    margin-left: 24px;
  }

  .menu__button {
    margin-left: 24px;
  }
}

@media (max-width: 21.87375em) {
  .form__error {
    font-size: 10px;
    line-height: 1.2;
  }
}

.webp .main__container::before{ background-image: url(../img/bg/bg-01.webp); }

.webp .main__container::after{ background-image: url(../img/bg/bg-02.webp); }

.webp .about__wrapper::after{ background-image: url(../img/bg/bg-01.webp); }

.webp .pay__container::before{ background-image: url(../img/bg/bg-01.webp); }

.webp .pay__container::after{ background-image: url(../img/bg/bg-02.webp); }

.webp .about-me__container::after{ background-image: url(../img/bg/bg-01.webp); }

.webp .success__container::before{ background-image: url(../img/bg/bg-01.webp); }

.webp .page-form__container::before{ background-image: url(../img/bg/bg-01.webp); }